h1{
    font-size: 350%;
    border-left: darkslateblue solid;
}
.heading-color{
    color: steelblue;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( midnightblue, steelblue);
    padding: 10px 40px;
    border-radius: 5%;
    color: white;
}
.flexing{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 50%;
}
.center{
    text-align: center;
    font-size: 40px;
}
.mission-color{
    color: steelblue;
}
.year-color{
    color: midnightblue;
}
.illustrator{
    width: 20%;
    padding: 5%;
    margin: 1%;
}
.illustrator img{
    width: 50%;
}
.color-bga{
    background-color: mistyrose;
    border-radius: 10%;
}
.color-bgb{
    background-color: navajowhite;
    border-radius: 10%;
}
.color-bg{
    background-color: lightsteelblue;
    border-radius: 10%;
}
.back-ground{
    background-image: url(image/shape-1.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20%;
}
.background{
    background-image: url(image/shape-1.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.food-color{
    color: darkcyan;
}
.food-font{
    text-align: center;
    font-size: 250%;
}
.back-image{
    background-image: url(image/shape-3.png), url(image/shape-6.png), url(image/shape-7.png);
    background-size: 30%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, center, bottom left;
}
.padd{
    padding-left: 10%;
}
.footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px 40px;
    margin-top: 5%;
}
.number-color{
    color: steelblue;
}